#BillsApp{
    background: rgb(63, 255, 173);
    background: linear-gradient(98deg, rgba(63, 255, 173, 1) 0%, rgba(66, 195, 194,1) 100%);
    height: 100vh;
    position: relative;
    overflow: hidden;
    header{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      h2{
        font-size: 1.8rem;
        font-weight: 900;
        color: white;
      }
    }
    #AllBills{
        position: relative;
        z-index: 3;
        height: calc(100vh - 69px);
        overflow: scroll;
      .container{
        width: 100%;
        padding: 0 20px;
      }
    .total-bills{
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      padding: 20px 0;
      .text{
        font-size: 1.3rem;
      }
      .number{
        font-size: .9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
      }
    }
    .bills-list{
      background: white;
      border-radius: 10px;
      width: 90%;
      -webkit-box-shadow: 0px -10px 31px -9px rgba(173, 173, 173, 1);
      -moz-box-shadow: 0px -10px 31px -9px rgba(173, 173, 173, 1);
      box-shadow: 0px -10px 31px -9px rgba(173, 173, 173, 1);
      .bill{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E8E8E8;
        padding: 20px 20px;
        position: relative;
        overflow: hidden;
        height: 82px;
        &:hover{
          .buttons{
            transform: translate3d(0, 0, 0)
          }
        }
        &:last-child{
          border: none;
        }
        .company{
          display: flex;
          justify-content: center;
          align-items: center;
          .logo{
            img{
              border-radius: 50%;
              height: 40px;
              width: 40px;
            }
          }
          .title{
            font-size: 1.1rem;
            font-weight: 500;
            margin-left: 20px;
            color: rgb(63, 60, 60);
            text-transform: capitalize;
          }
        }
        .price{
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(121, 116, 116);
         }
         .buttons{
           display: flex;
           position: absolute;
           top: 0;
           right: 0;
           height: 100%;
           width: 100px;
           transform: translate3d(500px, 0, 0);
           transition: transform .4s ease-in-out;
           .paid{
             background: #abf441;
             display: flex;
             justify-content: center;
             align-items: center;
             width: 50%;
             color: white;
           }
           .delete{
             background: #f44242;
             border-top-right-radius: 10px;
             border-bottom-right-radius: 10px;
             display: flex;
             justify-content: center;
             align-items: center;
             width: 50%;
             color: white;
           }
         }
      }
    }
  }
  .content-background{
      background: #E8E8E8;
      height: 70vh;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 2;
  }
}

    #FloatingMenu{
        background: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 3;
        bottom: 0;
        width: 95%;
        -webkit-box-shadow: 0px -10px 31px -9px rgba(173, 173, 173, 1);
        -moz-box-shadow: 0px -10px 31px -9px rgba(173, 173, 173, 1);
        box-shadow: 0px -10px 31px -9px rgba(173, 173, 173, 1);
        .icon{
            font-size: 2rem;
            margin-bottom: 10px;
            color: rgb(201, 201, 201);
            transition: all .4s ease-in-out;
        }
        .text{
            font-size: .8rem;
            color: rgb(201, 201, 201);
            transition: all .4s ease-in-out;
        }
        .link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .4s ease-in-out;
            cursor: pointer;
            &:hover{
                background: linear-gradient(98deg, rgba(63, 255, 173, 1) 0%, rgba(66, 195, 194,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
                background-clip: text;
            .fa:before{
                background: linear-gradient(98deg, rgba(63, 255, 173, 1) 0%, rgba(66, 195, 194,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
             }
            &:last-child{
                .fa:before{
                    background: white;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
         }
         &:last-child{
            .fa:before{
                background: white;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-size: .9rem;
            }
        }
    }
    .add-button{
        background: linear-gradient(98deg, rgba(63, 255, 173, 1) 0%, rgba(66, 195, 194,1) 100%);
        height: 55px;
        width: 55px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 0px;
        }
    }
}

#AddBill{
    position: absolute;
    z-index: 5;
    top: 85px;
    background: white;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(98deg, rgba(63, 255, 173, 1) 0%, rgba(66, 195, 194,1) 100%);
    transform: translate3d(100%,0,0);
    transition: transform .4s ease-in-out;
    &.active{
      transform: translate3d(0,0,0);
    }
    .container{
        padding: 0 20px;
    }
    h2{
      font-size: 2rem;
      color: white;
      text-transform: uppercase;
      text-align: center;
      margin: 2rem 0;
    }
    .form-group{
      margin: 0 0 1.5rem;
    }
    label{
      display: block;
      color: white;
      font-size: .8rem;
      margin-bottom: 10px;
      font-weight: 700;
    }
    input{
      display: block;
      background: transparent;
      border: 1px solid white;
      font-size: 1.1rem;
      padding: 7px;
      color: white;
      width: 95%;
      &:focus{
        outline: 0;
      }
    }
    button{
      background: white;
      border: none;
      padding: 10px;
      width: 100%;
      text-transform: uppercase;
      font-size: 1.1rem;
    }
}

@media only screen and (min-width: 600px){
    #app{
        background: black;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #BillsApp{
        width: 324px;
        height: 700px;
        border-radius: 15px;
    }
}
